<div>
   <h3>
      {{homectrl.mainArticleRight.articleTitle}}
   </h3>
   <div class="metaData">
      <div class="meta-author">
         <p class="meta-paragraph">
            By {{homectrl.mainArticleRight.articleAuthor}}
         </p>
      </div>
      <div class="meta-time">
         <p class="meta-paragraph">
            <i class="fa fa-clock-o"></i>Updated {{homectrl.mainArticleRight.articleDate | date: 'h:mm a, EEE LLLL d, yyyy'}}
         </p>
      </div>
   </div>
   <div>
      <p class="lead" ng-bind-html="homectrl.mainArticleRight.articleContent">
      </p>
   </div>
</div>