<div class="container-fluid">
   <div class="row">
      <div class="col-md-4">
         <img src="" alt="Profile Pic" class="profile-pic">
      </div>
      <div class="col-md-4">
            <h1>{{profilectrl.user.name}}
               <sup class="verify-star">
                  <i class="fa" ng-class="{'fa-star-o': !profilectrl.user.verified, 'fa-star': profilectrl.user.verified}"></i>
               </sup>
            </h1>
            <div id="followBtn"></div>
            <p> This is a test user</p>
      </div>
      <div class="col-md-4" ng-show="profilectrl.hasTwitter">
         <div id="twitTimeline"></div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="page-header">
            <h3>Articles</h3>
         </div>
      </div>
   </div>
</div>
<div class="container" ng-repeat="article in profilectrl.articles">
   <div class="row">
      <div class="col-md-12">
         <div class="media">
            <div class="media-body">
               <h4>
                  <a ng-href="{{article.articleURL}}"> {{article.articleTitle}}</a>
               </h4>
               <div class="metaData">
                  <div class="meta-author">
                     <p class="meta-paragraph">
                        By {{article.articleAuthor}}
                     </p>
                  </div>
                  <div class="meta-time">
                     <p class="meta-paragraph">
                        <i class="fa fa-clock-o"></i>Updated {{article.articleDate | date: 'h:mm a, EEE LLLL d, yyyy'}}
                     </p>
                  </div>
               </div>
               <p class="lead" ng-bind-html="article.articleContent"></p>
            </div>
         </div>
      </div>
   </div>
</div>
